
.container {
    background-color: #fff;
    min-height: 100vh;
    padding: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    column-gap: 1rem;
    color: #323334;

    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }
}


.article {
    overflow: hidden;
    &__header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media (max-width: 768px){
            gap: 1rem;
        }
    }

    &__title {
        font-size: 45px;
        line-height: 1;
        @media (max-width: 768px){
            font-size: 30px;
        }
    }

    &__descr {
        margin-bottom: 2rem;
        @media screen and (max-width: 768px){
            margin-bottom: 0;
        }
    }

    &__image {
        margin: 1rem 0;
        position: relative;
        width: auto;
        height: clamp(300px, 35vw, 700px);
        img { object-fit: cover }
    }

    &__review {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 14px;
        color: #6b6b6b;
    }

    &__infoRow {
        display: flex;
        align-items: center;
        gap: 2rem;
        line-height: 1;
        &_mark {
            color: #6b6b6b;
            font-size: 12px;
        }
    }
    &__author {
        &_row {
            margin-top: 4px;
            display: flex;
            gap: 4px;
        }
    }
    &__date {
        &_row {
            margin-top: 4px;
            display: flex;
            gap: 4px;
        }
    }
    &__separator {
        height: 32px;
        width: 1px;
        border-radius: 2px;
        background-color: #6b6b6b;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 50px;
    }

    &__form {
        margin-top: 2rem;
        //background-color: #323334;
    }
}

.sticky{
    width: 100%;
    height: 100%;
}

.tableOfContentWrapperMobile {
    display: none;
    @media screen and (max-width: 768px){
        display: block;
    }
}
.tableOfContentWrapperDesktop {
    display: block;
    margin-left: clamp(1rem, 2vw, 4rem);
    //display: flex;
    //justify-content: center;
    @media screen and (max-width: 768px){
        display: none;
    }
}

.tableOfContent {
    position: fixed;

    @media screen and (max-width: 768px){
        position: static;
    }

    &__title {
        font-size: 35px;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 1rem;
        @media (max-width: 768px){
            font-size: 28px;
        }
    }
    @media (max-width: 768px){
        margin: 1rem 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        list-style: square !important;
    }
    &__item {
        color: #6b6b6b;
        width: fit-content;
        text-decoration: none;
        transition: transform .3s ease-in-out;
        &:hover {
            text-decoration: underline;
            transform: translateX(8px);
        }
    }
}