.pickColor {
  padding: 40px;
  border-radius: 10px;
  min-height: 300px;
  background: #fff;
}
.color {
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: $border-radius;
  margin-right: 10px;
  .close {

  }
}
.title {
  font-size: 24px;
  margin: 20px 0;
}
.colorItems {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}