.uploadImage {
  position: relative;
  border: #F9F9FF 2px solid;
  overflow: hidden;
  border-radius: 22px;
  .newImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.15);
  }
  .close {
    cursor: pointer;
    color: $white;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}