.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $main-color;
    color: $white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px -3px;
    @media (max-width: 768px) {
        display: none;
        padding: 20px 10px;
    }
}

.header_mobile {
    display: none;
    align-items: center;
    position: relative;
    grid-area: header;
    padding: 20px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px -3px;
    @media (max-width: 768px) {
        display: grid;
        padding: 20pxpx;
    }
}

.logo {
    position: relative;
    display: block;
    justify-self: center;
    width: 100px;
    height: 25px;
    cursor: pointer;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
}
.nav {
    display: flex;
    @include adaptive-value('gap', 50, 20, 1)
}

.link {
    position: relative;
    color: $white;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    &.active {
        &:after {
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            height: 2px;
            border-radius: 5px;
            width: 95%;
            background: #fff;
        }
    }

}
