.productItem {
  text-decoration: none;
  height: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 5px rgb(141 141 141 / 35%);
}
.sale {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  flex-direction: row;
  span {
    align-self: center;
  }
}
.img {
  position: relative;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  img {
    object-fit: cover;
    object-position: center;
  }
}
.title {
  text-decoration: none;
  margin-top: 10px;
  align-self: flex-start;
  min-height: 80px;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.info {
  width: 100%;
  display: flex;
  gap: 15px;
  font-size: 14px;
}
.stars {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    height: 16px;
  }
}

.comments {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    height: 16px;
  }
  span {
    font-size: 12px;
  }
}

.price {
  text-decoration: none;
  position: relative;
  align-self: flex-start;
  justify-self: flex-end;

  font-weight: 700;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .old {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 14px;
    text-decoration: line-through;
    opacity: 0.3;
  }
  .new {
    margin-top: 20px;
    font-size: 20px;
  }
}

.palette {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  align-self: flex-start;
}
.palette_item {
  position: relative;
}
.palette_round {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: 0 1px 20px rgb(141 141 141 / 35%);
}
.activeDot {
  position: absolute;
  bottom: -8px;
  left: 50%;
  //transform: translateX(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #707070;
}