.title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  a {
    text-decoration: none;
    color: #fff;
  }
}
.instagram-posts {
  max-width: 990px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  @media (max-width: 768px) {
    grid-gap: 10px;
  }
}

.instagram-post {
  position: relative;
}

.instagram-post:hover .instagram-post-overlay {
  opacity: 1;
}

.instagram-post-overlay {
  background-color: rgba(0, 0, 0, 0.609);
  color: #fff;
  padding: 10px;
  opacity: 0;
  font-weight: 500;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  text-align: center;
  &:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.609);
  }
}

.instagram-post-media {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.instagram-post-media > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
