.box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    .text { 
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        text-align: center;
        svg {
            margin: 0px auto;
            margin-bottom: 50px;
        }
        .title {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 600;
            white-space: nowrap;
        }
        .descr {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 50px;
        }
    }
}