
.blog {
    &__wrapper {
        background-color: #fff;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    &__title {
        color: #323334;
        font-weight: 500;
        padding-bottom: 10px;
        font-size: 80px;
        line-height: 1;

        @media screen and (max-width: 576px) {
            padding-bottom: 5px;
            font-size: 50px;
        }
    }
    &__subtitle {
        margin-top: 1rem;
        font-size: 1rem;
    }

    &__articles {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media screen and (max-width: 576px) {
            margin-top: 30px;
        }
    }

    &__pagination {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}