.modalCart {
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 15px 1px;
}

.header {
  padding: 0 10px 20px 10px;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(50, 51, 52, 0.34);
  svg {
    cursor: pointer;
  }
}
.title {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.items {
  margin: 30px 0;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  p {
    text-align: center;
    font-weight: 500;
    margin: 50px 0px;
  }
}
.lastViewed {
  overflow: hidden;
  margin-top: 20px;
  .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}