
@mixin text-clamp {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    @content;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: normal;
}

.card {
    position: relative;
    display: grid;
    grid-template-columns: 80px minmax(240px, 1fr) 1.2fr;
    grid-template-rows: 325px;
    gap: 4rem;
    padding: 24px 0;

    border-bottom: 1px #d3d3d3 solid;

    @media screen and (max-width: 900px) {
        grid-template-rows: 20px 250px 1fr;
        grid-template-columns: 1fr;
        gap: 1rem
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        img { object-fit: cover }
    }

    &__contentWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
    &__content {
        color: #323334;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1rem;
    }

    &__title {
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        @include text-clamp {
            -webkit-line-clamp: 2
        }
        @media (max-width: 768px){
            font-size: 18px;
        }
    }

    &__description {
        margin-top: 10px;
        z-index: 2;
        @include text-clamp {
            -webkit-line-clamp: 4
        }
        @media (max-width: 768px){
            margin-top: 0;
            @include text-clamp {
                -webkit-line-clamp: 4
            }
        }
    }
    &__date {
        z-index: 2;
        color: #6b6b6b;
    }
    &__author {
        z-index: 2;
        color: #6b6b6b;
    }

    &__infoRow {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 100%;
    }
    &__separator {
        height: 100%;
        width: 1px;
        background-color: #6b6b6b;
        border-radius: 2px;
    }
}

.readBtn {
    z-index: 2;
    //color: #6b6b6b;
    color: #323334;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    svg {
        transition: transform .3s ease-in-out;
    }
    &:hover {
        text-decoration: underline;
        svg {
            transform: translateX(2px);
        }
    }
}