.orderPage {
  padding: 30px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    padding: 15px;
  }
}
.orderBody {
  width: clamp(50%, 1000px, 100%);
}

.title {
  margin: 20px 0 10px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  @media (max-width: 768px) {
    font-size: 16px;
  }
  &__big {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
.input {
  margin: 20px 0!important;
  border-radius: 10px;
  width: 100%;
}
.inputGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.items {
  display: grid;
  gap: 15px;
  margin-bottom: 20px;
}