.container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
    img {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 60% !important;
        height: 60% !important;
        object-fit: contain;
        opacity: 0.2;
    }
}

.contentWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;

    .title {
        color: #323334;
        font-size: 140px;
        margin-bottom: -30px;
        font-weight: 700;
        @media screen and (max-width: 768px) {
            font-size: 40px;
            margin-bottom: 0;
        }
    }
    .subtitle {
        color: #323334;
        text-transform: uppercase;
        margin-bottom: 25px;
        font-size: 30px;
        font-weight: 500;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    .homeBtn {
        text-decoration: none;
        background: #323334;
        color: #fff;
        border: 1px solid #323334;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            background: #fff;
            color: #323334;
        }

        @media screen and (max-width: 768px) {
            font-size: 14px;
            padding: 0.2rem 0.5rem;
            border-radius: 0.2rem;
        }
    }
}