.pageInfo {
    padding: 20px;
    min-height: 100vh;
    background-color: #fff;
    user-select: text;
    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .parts {
        display: flex;
        flex-wrap: nowrap;
        gap: 50px;
        @media (max-width: 1240px) {
            flex-wrap: wrap;
        }
        .part {
            .upper {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;
                .num {
                    font-size: 50px;
                    color: #323334;
                }
                .partTitle {
                    font-size: 18px;
                    font-weight: 400;  
                }
            }
            .lower {
                max-width: 400px;
                height: 150px;
                margin-bottom: 40px;
            }
        }
    }
}