
.footer {
    padding: 100px 0px;
    grid-area: footer;
    color: $white;
    background: $main-color;
    user-select: none;
    a {
        text-decoration: none;
        color: #fff;
    }
    @media (max-width: 768px) {
        padding: 50px 0px;
    }
    .container {
        margin: 0px auto;
        max-width: 1270px;
        .cols {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .col {
                text-align: center;
                @media (max-width: 768px) {
                    margin-bottom: 20px;
                    &:nth-child(3) {
                        margin-bottom: 0px;
                    }
                }
                .title {
                    margin-bottom: 10px;
                    font-weight: 600 !important;
                    font-size: 22px;
                    @media (max-width: 768px) {
                        font-size: 18px;
                    }
                }
                .item {
                    margin-top: 10px;
                    transition: 0.3s;
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                    &:hover {
                        transform: translate(15px, 0px);
                        transition: 0.3s;
                    }
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
                .socialIcons {
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    gap: 15px;
                    img {
                        -webkit-filter: invert(100%);
                        width: 30px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            opacity: 0.7;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}