
.sidebar {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    padding: 25px 15px 15px;
    border-right: 1px solid #dee2e6;
    grid-area: sidebar;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    @media (max-width: 768px) {
        display: none;
    }
}

.sidebar_mobile {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    @media (max-width: 768px) {
        display: block;
    }
    .columns {
        display: flex;
        min-height: 100%;
    }
    .content {
        padding: 25px 15px 15px;
        background: $white;
        width: 75%;
        min-height: 100%;
    }
    .close {
        padding-top: 25px;
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
        width: 25%;
        min-height: 100%;
        background: $body-color;
        svg {
            filter: invert(1);
        }
    }
}

.logo {
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
    //img {
    //    object-fit: contain;
    //}
}
.sidebar_item {
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    list-style: none;
    .sidebar_header {
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        transition: background 0.1s linear;
        text-decoration: none;
        color: #212529;
        .text {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
        }
        &:hover {
            background: #323334;
            color: #fff;
            img {
                filter: invert(1)!important;
            }
        }
        &_active {
            background: #323334;
            color: #fff;
            img {
                filter: invert(1)!important;
            }
        }
    }
    &_active {
        background: #323334;
        color: #fff;
        .sidebar_header {
            color: white;
        }
        .sidebar_subitem {
            a {
                color: #fff;
            }
        }

        img {
            filter: invert(1)!important;
        }
    }
    .sidebar_items {
        //transition: all 1s linear;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .sidebar_subitem {
            border-radius: 8px;
            overflow: hidden;
            display: block;
            a {
                display: block;
                width: 100%;
                padding: 3px 8px;
                height: 100%;
                //color: #212529;
                text-decoration: none;
                &:hover {
                    background: #464649;
                }
            }
            &_active {
                a {
                    background: #464649;
                }
            }
        }
        .li {
            color: #323334;
            transition: background 0.1s linear;
            a {
                display: block;
                width: 100%;
                color: #323334;
                text-decoration: none;
            }
            //&:hover {
            //    background: #212529;
            //}
        }
    }
}

.menu {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    scrollbar-color: transparent transparent; /*hides the scrollbar for firefox */
    ::-webkit-scrollbar {
        display: none !important;
    }
}
.menu_item {
    text-decoration: none;
    color: inherit;
    div {
        border-radius: 10px;
        padding: 5px 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    img {
        width: 18px;
        height: 18px;
    }
    &.active {
        div {
            background: #212529!important;
            color: #fff !important;
        }
        img {
            filter: invert(1)!important;
            width: 18px;
            height: 18px;
        }
    }
}

.sidebarExpand {
    animation-name: sidebarExpand;
}

@keyframes sidebarExpand {
    0% {
        height: 0;
        padding: 0;
    }
    100% {
        height: auto;
        padding: 10px 10px 10px 50px;
    }
}

.sidebarCollapse {
    animation-name: sidebarCollapse;
}

@keyframes sidebarCollapse {
    0% {
        padding: 10px 10px 10px 50px;
        height: auto;
    }
    100% {
        height: 0;
        padding: 0;
    }
}

.mobileSidebarExpand {
    animation-name: mobileSidebarExpand;
}

@keyframes mobileSidebarExpand {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.mobileSidebarCollapse {
    animation-name: mobileSidebarCollapse;
}

@keyframes mobileSidebarCollapse {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.itemFadeIn {
    animation-name: itemFadeIn;
}

@keyframes itemFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.itemFadeOut {
    animation-name: itemFadeOut;
}

@keyframes itemFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

