.item {
  position: relative;
  width: calc(33.33% - 10px);
  margin-bottom: 10px;

  &:nth-child(3n+1) {
    margin-right: 10px;
  }
  &:nth-child(3n) {
      margin-left: 10px;
    }

  &:nth-child(-n+3) {
    margin-top: 10px;
  }

  .imageWrapper {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    img, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  &:hover {
    .imageWrapper img {
      -webkit-filter: brightness(80%);
      filter: brightness(80%);
      transition: 0.3s;
    }
  }
}
