.pageInfo {
    padding: 20px;
    min-height: 100vh;
    background-color: #fff;
    user-select: text;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .parts {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        gap: 50px;

        @media (max-width: 1240px) {
            flex-wrap: wrap;
        }

        .part {
            .upper {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;

                .num {
                    font-size: 50px;
                    color: #323334;
                }

                .partTitle {
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            .lower {
                display: flex;
                flex-direction: column;
                max-width: 400px;
                height: 150px;
                margin-bottom: 40px;

                .link {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a {
                        color: #000;
                        transition: color 0.15s ease-in-out;

                        &:hover {
                            color: #5a5a5af3;
                        }
                    }
                }
            }
        }
    }
}

.cooperation {
    margin-top: 50px;
    h2 {
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.imgWrapper {
    position: relative;
    width: 100%;
    height: 500px;
    img {
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .imgWrapper {
        position: relative;
        width: 100%;
        height: 300px;
    }
    
}
.socialIcons {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    img {
        width: 30px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.7;
            transition: 0.3s;
        }
    }
}

.sliderSlide {
    position: relative;
    p {
        margin-top: 10px;
        @media screen and (max-width: 900px) {
            font-size: 12px;
        }
    }
}

