.search {


}

.search__option {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &:hover {
    background: #dedddd;
  }

  .img {
    position: relative;
    height: 60px;
    width: 60px;

    .sale {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 3;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      text-align: center;
      background-color: #ff0000;
      display: flex;
      justify-content: center;
      flex-direction: row;

      span {
        align-self: center;
      }
    }

    img {
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .title {
    font-weight: 400;
    max-width: 90%;
  }

  .price {
    text-decoration: none;
    position: relative;

    font-weight: 700;

    display: flex;
    white-space: nowrap;
    flex-direction: column;

    .old {
      position: absolute;
      top: 5px;
      left: 0;
      font-size: 12px;
      text-decoration: line-through;
      opacity: 0.3;
    }

    .new {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &_mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;

    .img {
      position: relative;
      height: 60px;
      width: 60px;

      .sale {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 3;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        color: #fff;
        font-size: 9px;
        font-weight: 500;
        text-align: center;
        background-color: #ff0000;
        display: flex;
        justify-content: center;
        flex-direction: row;

        span {
          align-self: center;
        }
      }

      img {
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .title {
      font-weight: 400;
      max-width: 85%;
    }

    .price {
      text-decoration: none;
      position: relative;

      font-weight: 700;

      display: flex;
      white-space: nowrap;
      flex-direction: column;

      .old {
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 12px;
        text-decoration: line-through;
        opacity: 0.3;
      }

      .new {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }

}