.categoryTitleBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
    .title {
        align-self: center;
        color: #fff;
        font-size: 24px;
        padding-right: 20px;
        font-weight: 500;
    }
    .link {
        color: #6b6b6b;
        text-decoration: none;
        padding-top: 1px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-self: center;
        gap: 10px;
        padding-left: 20px;
        border-left: 1px solid gray;
        font-weight: 400;
        font-size: 16px;
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            opacity: 1;
            transition: 0.3s;
        }
        svg {
            transform: scale(1.5);
        }
    }
    @media screen and (max-width: 768px) {
        .title {
            font-size: 20px;
            padding-right: 10px;
        }   
        .link {
            padding-left: 10px;
            font-size: 14px;
        }     
    }
}