.allCategories {
  .items {
    margin-top: 50px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .item {
      cursor: pointer;
      padding: 10px;
      background: #e5e5e5;
      width: 100%;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .subcategories {
          font-size: 12px;
          .subcategory_name {
            opacity: 0.5;
          }
        }
        .name {
          font-size: 16px;
        }
        .price {
          font-size: 12px;
          color: #96969a;
        }
      }
      .controls {
        display: flex;
        gap: 20px;
        color: #5F5E67;
      }
    }
  }
}