
.blog {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__articles {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}