.modalCartItem {
  position: relative;
  padding: 15px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "image content controls";
  gap: 25px;
  box-shadow: 0 1px 20px rgba(141, 141, 141, 0.35);
  .content {
    grid-area: content;
  }
  .image {
    grid-area: image;
  }
  .controls {
    grid-area: controls;
  }
  .price {
    position: absolute;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    right: 15px;
    bottom: 15px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
  @media (max-width: 768px) {
    gap: 15px;
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-areas:
    "image content"
    "controls controls";
  }
}
.image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  img {
    object-fit: cover;
    max-height: 150px;
    border-radius: 15px;
  }
}
.title {
  font-size: 20px;
  margin-bottom: 15px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.color {
  display: flex;
  align-items: center;
  gap: 10px;
  .color_round {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 20px rgba(141, 141, 141, 0.35);
  }
  @media (max-width: 768px) {
    font-size: 12px;
    gap: 5px;
  }
}

.description {
  //white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: 768px) {
    font-size: 12px;
    gap: 5px;
  }
}

.controls {
  align-self: center;
  display: flex;
  //flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  color: #323334;
  //flex-direction: column;
  .controls_count {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    gap: 15px;
    width: 100px;
    justify-content: space-between;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .controls_btn {
      cursor: pointer;
      height: 25px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      border: #323334 2px solid;
      border-radius: 50%;
      transition-property: color, background-color;
      transition-duration: 0.1s;
      transition-timing-function: linear;
      &:hover {
        background-color: #323334;
        color: #fff;
      }
    }
  }
}