.cartInfo {
  text-align: right;
  justify-content: flex-end;
  gap: 15px;
  display: flex;
  align-items: center;
}
.amount {
  font-size: 14px;
}
.price {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.priceSale {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  .sale{
    font-size: 15px;
    text-decoration: line-through;
    color: rgb(196, 196, 196);
  }
  .priceWithSale{
    font-size: 24px;
    margin-top: -10px;
  }
}