

.form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 50px;

    &__subtitle {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 2rem;
        line-height: 1;
    }

    &__product {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1rem;
        input {
            width: 100% !important;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__image {
        margin-top: 1rem;
        position: relative;
        width: 100%;
        height: 300px;

        img { object-fit: cover }
    }


    &__sections {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        font-size: 35px;
        font-weight: 500;
    }
}