.navigation {
    z-index: 995;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 92%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 12px;
    svg {
        transform: scale(4);
        filter: invert(90%);
        -webkit-filter: invert(90%);
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            transform: scale(4);
            transition: 0.3s;
        }
    }
}
.swiper-navigation-button--disabled {
    opacity: 0.7;
    pointer-events: none;
  }